.pagination .selected {
    background-color: blue;
    color: white;
}
.pagination {
    margin: 30px;
    padding: 0px 10px;
}
.pagination button {
    margin-right: 10px;
    padding: 0 20px;
    border: none;
    border-radius: 5px;
}
