#logo {
    height: 45px;
}
.navbar-light .navbar-brand {
    font-weight: bold;
    color: #354259;
    font-family: cursive;
}
.btn-success {
    background-color: #354259 !important;
    color: white !important;
    border: #354259 !important;
}
.log-out {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 1rem;
    padding: 0;
    font-weight: bold;
}
.nav-link-1 {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 1rem;
    padding: 0.5rem;
    font-weight: bold;
}
.nav-link-1:hover {
    color: white;
    background-color: #354259;
    border-radius: 5px;
}

@media (min-width: 1032px) {
    .navbar-expand-lg {
        flex-wrap: wrap !important;
        justify-content: flex-start !important;
    }
}
