#logo {
    height: 75px;
}
.nav-link-1 {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 1rem;
    padding: 0.5rem;
    font-weight: bold;
}
.nav-link-1:hover {
    color: white;
    background-color: greenyellow;
    border-radius: 5px;
}
#navbar {
    padding-left: 5rem;
}
